.proj-container {
	max-width:1080px;
	margin-bottom: 3rem;
	/*padding-bottom:500px;*/
	/*margin-bottom:300px;*/
	/*background:ivory;*/
	/*margin:auto;*/
}

@media screen and (max-width: 960px) {
  .wrapper {
            width: auto;
            padding: 1rem;
            margin: auto;
            /*background: lightgreen;*/
  }
}

